# Create CSV for each dataset

## JodAds generate InputTXT and store json

In [25]:
import json


import pandas as pd
#pd.set_option('display.max_rows', None)
import numpy as np
import matplotlib.pyplot as plt

In [26]:
#https://towardsdatascience.com/how-to-convert-json-into-a-pandas-dataframe-100b2ae1e0d8
df_job = pd.read_json('./../data/Dataset_jobAds_XMLC-BERT/mycareersfuture_list.json')

df_job.head()

,company_name,job_title,employment_type,seniority,job_category,location,salary,min_experience,skills_required,requirements_and_role,job_requirements,company_info,posting_date,expiry_date,no_of_applications,job_id
0,THE SUPREME HR ADVISORY PTE. LTD.,Admin Assistant [$1.5k-$2.2k / Bukit Batuk ...,"Permanent, Full Time",Junior Executive,"[Admin , Secretarial]","AZ @ PAYA LEBAR, 140 PAYA LEBAR ROAD 409015","$1,800to$2,200Monthly",1 year exp,"[Access, Customer Service, Data Entry, Employe...",providing support director admin manager assis...,requirements preferably least 1 year relevant exp,THE SUPREME HR ADVISORY PTE. LTD.\nHere at The...,09 May 2019,08 Jun 2019,7,JOB-2019-0098255
1,GOOGLE ASIA PACIFIC PTE. LTD.,"Visual Designer, Google Pay - Singapore",Full Time,Executive,[Design],"MARINA BAY FINANCIAL CENTRE, 8 MARINA BOULEVAR...","$6,700to$13,400Monthly",5 years exp,"[Adobe Creative Suite, Advertising, Art Direct...",company overview google conventional company i...,requirementsminimum qualifications ba bs degre...,GOOGLE ASIA PACIFIC PTE. LTD.\n,09 May 2019,08 Jun 2019,43,JOB-2019-0098355
2,BBDO SINGAPORE PTE LTD,IT Manager,"Permanent, Full Time","Manager, Professional",[Information Technology],"SINGAPORE LAND TOWER, 50 RAFFLES PLACE 048623","$5,000to$7,000Monthly",5 years exp,"[Active Directory, Business Analysis, Change M...",manager manager job involves vast array duties...,requirements 5 years management experience mul...,BBDO's mantra is â€œThe Work. The Work. The W...,09 May 2019,08 Jun 2019,37,JOB-2019-0098419
3,AMARIS CONSULTING PTE. LTD.,Active Directory Consultant,"Permanent, Full Time",Non-executive,[Information Technology],"ROBINSON 112, 112 ROBINSON ROAD 068902","$5,000to$7,000Monthly",4 years exp,"[Analysis, Business Analysis, Business Develop...",undertaking various active directory projects ...,requirements university degree computer scienc...,AMARIS CONSULTING PTE. LTD.,08 May 2019,07 Jun 2019,0,JOB-2019-0097764
4,HITACHI CONSULTING SINGAPORE PTE. LTD.,Senior Consultant (SAP HCM),Permanent,Senior Executive,[Information Technology],"PLAZA 8 @ CBP, 1 CHANGI BUSINESS PARK CRESCENT...","$6,000to$9,000Monthly",8 years exp,"[Analysis, Business Analysis, Business Develop...",provide l2 support sap hcm related issues trou...,requirementsmust skills possess degree equival...,No information added.,08 May 2019,07 Jun 2019,3,JOB-2019-0098085

In [27]:
SE_dataset_jobAds = df_job[['skills_required','requirements_and_role','job_requirements']]


#SE_dataset_jobAds['text'] = df_job['requirements_and_role'] + ' '+ df_job['job_requirements']  # have to choose why this order ? cause (tocheck if in paper like that) like the paper???
#SE_dataset_jobAds['text'] =df_job['job_requirements'] + ' '+  df_job['requirements_and_role'] #OTHER ORDER

SE_dataset_jobAds['text'] = SE_dataset_jobAds[["requirements_and_role", "job_requirements"]].apply(" ".join, axis=1)

SE_dataset_jobAds.head()
SE_dataset_jobAds['text'][3]

C:\Users\Andru\AppData\Local\Temp\ipykernel_16048\4082791192.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SE_dataset_jobAds['text'] = SE_dataset_jobAds[["requirements_and_role", "job_requirements"]].apply(" ".join, axis=1)

"undertaking various active directory projects 2019 address variety issues needs ensure communicate project task progress updates report risk issues manager stakeholders sponsors timely manner meeting management appropriate staff understand requirements working close collaboration global team local team make sure stability platform hardware working remediation issues related platform provide technical support projects achieve delivery set within defined timeframe conduct situational data analysis identify understand problem issue arrange provide training people affected change per requirement ensure security risk management directives policies applied operational products services integrated planning development implementation new products services requirements university degree computer science equivalent proven experience working active directory windows system 4 years direct experience managing supporting large windows environment deep knowledge microsoft product windows os windows server active directory sccm ms office ability implement solutions utilizing microsoft technologies itil itsm project management skills excellent organizational coordination skills service oriented customer focused positive committed enthusiastic team player flexible ' attitude"

In [28]:
SE_dataset_jobAds[['text', 'skills_required']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20298 entries, 0 to 20297
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   text             20298 non-null  object
 1   skills_required  20298 non-null  object
dtypes: object(2)
memory usage: 317.3+ KB

In [29]:
print("PREPROCESSED:\n",df_job.loc[df_job['job_id']=="JOB-2019-0115309"]['requirements_and_role'].values[0])

print("RAW TEXT:\n",df_job.loc[df_job['job_id']=="JOB-2019-0115309"]['company_info'].values[0])
#["requirements_and_role", "job_requirements"]
#Text is already preprocessed: but company info is not
#   - lower case
#   - remove punctuation
#   - remove stop words
#   - remove special characters
#   - remove extra spaces ???
#   - remove accents ???

PREPROCESSED:
 required conduct research composite high thermal panel system candidate must graduate phd degree reputable university relevant research experience expertise strong journal publication record work researchers pi group needs strong analytical experimental skills relevant composite high thermal prior relevant experience similar project strong record journal publication ip generation favourably reviewed candidate relevant experiment skills based material synthesis mechanical testing thermal electrical testing material chemical micro structural analysis
RAW TEXT:
 World's Top Young University
A research-intensive public university, Nanyang Technological University, Singapore (NTU Singapore) has 33,000 undergraduate and postgraduate students in the colleges of Engineering, Business, Science, and Humanities, Arts and Social Sciences, and its Interdisciplinary Graduate School. NTUâ€™s Lee Kong Chian School of Medicine was established jointly with Imperial College London.
Meteoric rise in international academic reputationÂ ?
In 2018, NTU was placed 12th globally in the Quacquarelli Symonds (QS) World University Rankings. It was also ranked the worldâ€™s best young university (under 50 years old) by QS for the fifth consecutive year. In addition, NTU was named the worldâ€™s fastest rising young university by Times Higher Education in 2015.
In engineering and technology, NTU is ranked 5th worldwide in the QS World University Rankings by Subject 2018. With six schools, NTUâ€™s College of Engineering is among the top nine globally for research output and the 5th most cited in the world (Essential Science Indicators 2017).Â ?
Mirroring this success is the College of Science, whose young chemistry department is ranked 10th among universities in the Nature Index 2018. Boosted by research at the Lee Kong Chian School of Medicine, NTU is also strengthening its foothold in areas such as biomedicine and life sciences.
The well-established Nanyang Business School is regularly featured among the leading business schools in Asia, with its MBA programme consistently rated top in Singapore since 2004 by The Economist.
Innovative learning
In higher education, NTU is driving new pedagogies so that millennials can learn more effectively in this digital age. Part of NTU's education strategy is the flipped classroom model of learning. The centrepiece of this new way of learning is The Hive, a groundbreaking learning facility that has been described by CNN as having redefined the traditional classroom.Â
Innovative education initiatives also include signature programmes such as Renaissance Engineering Programme, CN Yang Scholars Programme, NTU-University Scholars Programme. Designed for high-achieving students, these programmes offer a multidisciplinary curriculum, guidance by top faculty, interdisciplinary and intensive research opportunities, overseas exposure, as well as dialogues with world-class scientists and industry leaders.?
Set up jointly with Imperial College London, NTU's medical school, is grooming a new generation of doctors to meet the healthcare needs of Singapore.
Research impact
Known for research excellence and technological innovation, NTU leads the top Asian universities in normalised research citation impact (Clarivate Analyticsâ€™ InCites 2016). In the 2018Â Nature Index, NTU is placed 29th among the world's universities and first in Singapore.
NTU's five-year strategic plan, NTU 2020, builds on strong foundations of NTU 2015 and aims to propel NTU to greater heights of research excellence. The plan focuses on five key research thrusts â€“ Sustainable Earth, Global Asia, Secure Community, Healthy Society and Future Learning. The areas leverage NTUâ€™s diverse strengths, particularly its longstanding expertise in engineering, business and education, and the interfaces these have with various disciplines such as in healthcare, science and the humanities. NTUâ€™s sustainability initiatives have clinched significant competitive research funding and the university is already a global leader in this area.

In [30]:
SE_dataset_jobAds[['text', 'skills_required']].to_csv('jobads_dataset.csv')
#SE_dataset_jobAds[['text', 'skills_required']].to_json('jobads_dataset.json', orient='records')

## Resumes generate InputTXT and store json

In [31]:

#COORECTED BY HAND: ':::' present in text in 3 resumes

columns = ['path','past_occupations','resume_text']

df_resumes = pd.read_csv('./../data/Dataset_resume_corpus/resume_samples.txt', delimiter=":::",encoding='ANSI', header=None, names=columns)

print("first text to check if utf8 or ANSI\n",df_resumes['resume_text'][0])
df_resumes.head()

C:\Users\Andru\AppData\Local\Temp\ipykernel_16048\1028275158.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_resumes = pd.read_csv('./../data/Dataset_resume_corpus/resume_samples.txt', delimiter=":::",encoding='ANSI', header=None, names=columns)

first text to check if utf8 or ANSI
 Database Administrator <span class="hl">Database</span> <span class="hl">Administrator</span> Database Administrator - Family Private Care LLC Lawrenceville, GA A self-motivated Production SQL Server Database Administrator who possessesÂ  strong analytical and problem solving skills. My experience includes SQL ServerÂ  2005, 2008 and 2012, 2014, SSIS, as well as clustering, mirroring, and highÂ  availability solutions in OLTP environments. I am proficient in database backup,Â  recovery, performance tuning, maintenance tasks, security, and consolidation.Â  I am confident that I would make a beneficial addition to any company. Over theÂ  course of my career thus far, I have designed databases to fit a variety of needs,Â  successfully ensured the security of those databases, problem-solved in order to meetÂ  both back-end and front-end needs, installed and tested new versions databaseÂ  management systems, customized and installed applications and meticulouslyÂ  monitored performance for the smoothest front-end experience possible. During myÂ  5 to 6 years working with databases. Work Experience Database Administrator Family Private Care LLC - Roswell, GA April 2017 to Present Confirm that backups have been made and successfully saved to a secureÂ  locationÂ  Planning for backup and recovery of database information.Â  Maintaining archived data Backing up and restoring databases, ContactingÂ  database vendor for technical support Generating various reports by querying from database as per needed.Â  Managing and monitoring data replication. Acting as liaison with users HighÂ  Availability or Disaster Recovery Logs - Check your high availability and/or disaster recovery process logs. Depending on the solution (Log Shipping,Â  Clustering, Replication, Database Mirroring, CDP, etc.) that you are usingÂ  dictates what needs to be checked. Correcting errors and make necessaryÂ  modificationÂ  Modify existing databases and database management systems or directÂ  programmers and analysts to make changes.Â  Work as part of a project team to coordinate database development and seeÂ  termite project scope and limitationsÂ  Train Users and answers questions.Â  Approve, schedule, plan, and supervise the installation and testing of newÂ  products and improvements to computer systems, such as the installation of new databases.Â  Review Procedures in Database management system manuals for makingÂ  changes to database.Â  Select and enter codes to monitor database performance and to createÂ  production database.Â  Check the backup failure alerts, correct the errors and rerun the backups.Â  Review the average duration of backup, any significant changes occurredÂ  investigates on this.Â  Most of the time it happens due to networking low bandwidth Validate the backup files using restore verify only.Â  I create jobs to take care of the task and to send a notification if it fails to verifyÂ  any backup.Â  Monitoring all backup and log history is cleaning when designed. Find out the newly added databases and define the backup plan. I do verify the free space onÂ  each drive on all servers, If there is significant variance in free space from the day before, research the cause of the free space fluctuation and resolve ifÂ  necessary, Often times, log files will grow because of monthly jobs automate through a job. The job runs for every one hour and reports any drive which isÂ  having less than 15 % of free space.Â  I can design a SSRS report to showcase and review the delta values.Â  Confirm all servers/databases are up and running fine. Usually in an EnterpriseÂ  Database Environment Third Party Tools are used to monitor Servers. ForÂ  database monitoring, I can design a native SQL Server solution using T-SQLÂ  code and a maintenance plan, it run min by min and send an email to DBAÂ  team if it is not able to connect to any of the database in the instance. I do design a native scripts using T-SQL to monitor Replication, Mirroring, LogÂ  shipping. Database Administrator Incomm Alpharetta - Alpharetta, GA January 2014 to February 2017 * Responsible for administering and maintaining over 150 database servers of Production and Test environment.Â  * Analyzes the current database environment to determine recommended databaseÂ  maintenance, security, and Microsoft SQL Server best practices.Â  * Monitors and troubleshoots production environments using Idera SQLdm.Â  * Creates and maintains documentation for DBA standard operating procedures.Â  * Ensures that all code changes made in the production environment are SOXÂ  compliance before they are deployed.Â  * Analyses and migrates data using ETL into SQL Server databases to supportÂ  customer's implementation.Â  * Works closely with infrastructure team for patching and hardware upgrades, and ensures that both production and test servers are up to date by applying WindowsÂ  and SQL Server patches.Â  * Upgrades servers as required from SQL Server 2005 to SQL Server 2008, 2012., and 2014.Â  * Completes database administration maintenance projects as required * ProvidesÂ  24/7 on call support as needed.Â  * Coordinates and configures new nodes for production server clusters for highÂ  availability.Â  * Periodically restores backup files in test environment to check for corruption.Â  * Reviews security, performance, and disk space and recommend corrective actionsÂ  where needed.Â  * Assists application team in the creation of databases, construction of queries, modification of database tables, and troubleshooting data issues.Â  * Monitors servers for resources utilization (disk space, memory, CPU, etc.)Â  * Creates and Executes a migration/decommission plan for over 500 databases within a 4 month project window. Education Bachelor of Science Lead City University July 2013 Skills Database administration, Database, Ms sql server, Ms sql server 2005, Sql server, Sql server 2005, Sql server 2008, Sql server 2008 r2, Sql server 2012, Sql, Sql queries, Stored procedures, Clustering, Backups, T-sql, Virtualization, R2, Maintenance, Problem solving, Shipping Additional Information SKILLSÂ  Installation and Building Server Running Backups Recovering andÂ  Restoring ModelsÂ  Support various MS SQL Server MS SQL Server 2005/2008Â  environments from SQL Server /2008R2R2/2012/2014Â  2005 thru SQL Server 2008r2 as administration includingÂ  well as with SQL Server 2012 on installation, configuration,Â  Windows Server 2003, 2003r2, upgrades, capacity planning,Â  2008, 2008r2, 2012 and 2014. performance tuning, backup andÂ  recovery.Â  Familiar with virtualization and Work with developers to Identify,Â  managing SQL databases in a debug, and tune problem storedÂ  virtual environment. procedures, T-SQL Queries, etc.Â  Management of users including Knowledge of High Availability ofÂ  creation/alteration, grant of database servers using DatabaseÂ  system/DB roles and permissions mirroring, replications, LogÂ  on various database objects. Shipping and Always OnÂ  Availability Group.Â  Design and implement SQL Server 201, databases for mission-criticalÂ  2005, SQL Server 2008 R2, business.Â  Experience in creating tables, Environment transition planningÂ  views, indexes, stored procedures (development, test, stage,Â  and more. production).Â  Import and export data to and from Perform routine backup andÂ  the database servers. recovery testing and documentingÂ  recovery scenarios.Â  Database administration including Use SQL Profiler forÂ  installation, configuration, troubleshooting, monitoring, andÂ  upgrades, capacity planning, optimization of SQL Server andÂ  performance tuning, backup and SQL code.Â  recovery, index maintenance.Â  Modify stored procedures, queries, Manage the production andÂ  views, indexes, and functions to development databases includingÂ  handle business rules, history data performance tuning, capacityÂ  and audit analysis. planning, SQL Server clustering,Â  database security configuration,Â  and database continuity.Â  Excellent analytical, Strong decision making andÂ  communication skills, work ethics problem solving skills.Â  and ability to work in a teamÂ  environment with strongÂ  determination and commitment toÂ  the deliverables.Â  Highly motivated self-starter withÂ  the ability to work independently.

,path,past_occupations,resume_text
0,C:\Workspace\java\scrape_indeed\dba_part_1\1.h...,Database Administrator;Database Administrator;...,"Database Administrator <span class=""hl"">Databa..."
1,C:\Workspace\java\scrape_indeed\dba_part_1\10....,"Database Administrator;SQL, Microsoft PowerPoi...","Database Administrator <span class=""hl"">Databa..."
2,C:\Workspace\java\scrape_indeed\dba_part_1\100...,Oracle Database Administrator;Oracle Database ...,Oracle Database Administrator Oracle <span cla...
3,C:\Workspace\java\scrape_indeed\dba_part_1\100...,Amazon Redshift Administrator and ETL Develope...,Amazon Redshift Administrator and ETL Develope...
4,C:\Workspace\java\scrape_indeed\dba_part_1\100...,Scrum Master;Oracle Database Administrator/ Sc...,Scrum Master Scrum Master Scrum Master Richmon...

In [32]:
df_resumes['skills_required'] = None

df_resumes.info() #-> 3 resumes with no text 

#same rows have only 2 columns in the database and then it is past_occupations that is missing (instead of resume_text)
df_resumes[df_resumes['resume_text'].isnull()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29783 entries, 0 to 29782
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   path              29783 non-null  object
 1   past_occupations  29783 non-null  object
 2   resume_text       29781 non-null  object
 3   skills_required   0 non-null      object
dtypes: object(4)
memory usage: 930.8+ KB

,path,past_occupations,resume_text,skills_required
6569,C:\Workspace\java\scrape_indeed\it_pm_part_1\1...,I.T. Consultant;I.T. Installation Specialist;P...,None,None
17040,C:\Workspace\java\scrape_indeed\net_admin_part...,Network Administrator;cisco certified CCNA Pro...,None,None

In [33]:
missing_resume_indexes = df_resumes['resume_text'].isnull()
print(missing_resume_indexes.sum(),"True indexes\n",missing_resume_indexes)

df_resumes['resume_text'] = df_resumes['resume_text'].fillna(df_resumes['past_occupations'])


print("df_resumes.loc[missing_resume_indexes]['past_occupations']:\n",df_resumes.loc[missing_resume_indexes]['past_occupations'])
df_resumes.loc[missing_resume_indexes,'past_occupations'] = None

df_resumes[missing_resume_indexes]

2 True indexes
 0        False
1        False
2        False
3        False
4        False
         ...
29778    False
29779    False
29780    False
29781    False
29782    False
Name: resume_text, Length: 29783, dtype: bool
df_resumes.loc[missing_resume_indexes]['past_occupations']:
 6569     I.T. Consultant;I.T. Installation Specialist;P...
17040    Network Administrator;cisco certified CCNA Pro...
Name: past_occupations, dtype: object

,path,past_occupations,resume_text,skills_required
6569,C:\Workspace\java\scrape_indeed\it_pm_part_1\1...,None,I.T. Consultant;I.T. Installation Specialist;P...,None
17040,C:\Workspace\java\scrape_indeed\net_admin_part...,None,Network Administrator;cisco certified CCNA Pro...,None

In [34]:
#remove the in text labels : <span class="hl"> [WORD] </span>
df_resumes['text'] = df_resumes['resume_text'].apply(lambda row: 
                                                     row.replace("<span class=\"hl\">","").replace("</span>",""))

df_resumes.head()

,path,past_occupations,resume_text,skills_required,text
0,C:\Workspace\java\scrape_indeed\dba_part_1\1.h...,Database Administrator;Database Administrator;...,"Database Administrator <span class=""hl"">Databa...",None,Database Administrator Database Administrator ...
1,C:\Workspace\java\scrape_indeed\dba_part_1\10....,"Database Administrator;SQL, Microsoft PowerPoi...","Database Administrator <span class=""hl"">Databa...",None,Database Administrator Database Administrator ...
2,C:\Workspace\java\scrape_indeed\dba_part_1\100...,Oracle Database Administrator;Oracle Database ...,Oracle Database Administrator Oracle <span cla...,None,Oracle Database Administrator Oracle Database ...
3,C:\Workspace\java\scrape_indeed\dba_part_1\100...,Amazon Redshift Administrator and ETL Develope...,Amazon Redshift Administrator and ETL Develope...,None,Amazon Redshift Administrator and ETL Develope...
4,C:\Workspace\java\scrape_indeed\dba_part_1\100...,Scrum Master;Oracle Database Administrator/ Sc...,Scrum Master Scrum Master Scrum Master Richmon...,None,Scrum Master Scrum Master Scrum Master Richmon...

## PREPROCESSING to resumes

In [35]:
#APPLY PREPROCESSING TO RESUME TEXT
#    (the job ads were already preprocessed and cleaned)

#CLEAN "escape chraracters": \xa0
#TODO: "\xa0" IS NOW IN TEXT RESUME: strings = strings.apply(lambda string: return string.replace(uâ€™\xa0â€™, uâ€™ â€˜)
from preprocessor import EnglishPreProcessor

print("PREPROCESSING")
print("BEFORE:",df_resumes['text'].iloc[0])

df_resumes_preprocessed = pd.DataFrame()


preprocessor = EnglishPreProcessor()
#in preprocessor.py:
#    - lower case -> DONE
#    - remove punctuation -> DONE
#    - remove special characters -> DONE
#    - remove extra spaces -> DONE
#    - remove stop words -> TODO TODOOOOOOOOOO (there is a stopwords_path in the EnglishPreProcessor)
#    - remove rare waors -> TODO TODOOOOOOOOOO (should look into pybert.io.vocabulary.py)

df_resumes_preprocessed['text'] = df_resumes['text'].apply(lambda row: preprocessor(row))
df_resumes_preprocessed['skills_required'] = df_resumes['skills_required']


print("AFTER:",df_resumes_preprocessed['text'].iloc[0])

PREPROCESSING
BEFORE: Database Administrator Database Administrator Database Administrator - Family Private Care LLC Lawrenceville, GA A self-motivated Production SQL Server Database Administrator who possessesÂ  strong analytical and problem solving skills. My experience includes SQL ServerÂ  2005, 2008 and 2012, 2014, SSIS, as well as clustering, mirroring, and highÂ  availability solutions in OLTP environments. I am proficient in database backup,Â  recovery, performance tuning, maintenance tasks, security, and consolidation.Â  I am confident that I would make a beneficial addition to any company. Over theÂ  course of my career thus far, I have designed databases to fit a variety of needs,Â  successfully ensured the security of those databases, problem-solved in order to meetÂ  both back-end and front-end needs, installed and tested new versions databaseÂ  management systems, customized and installed applications and meticulouslyÂ  monitored performance for the smoothest front-end experience possible. During myÂ  5 to 6 years working with databases. Work Experience Database Administrator Family Private Care LLC - Roswell, GA April 2017 to Present Confirm that backups have been made and successfully saved to a secureÂ  locationÂ  Planning for backup and recovery of database information.Â  Maintaining archived data Backing up and restoring databases, ContactingÂ  database vendor for technical support Generating various reports by querying from database as per needed.Â  Managing and monitoring data replication. Acting as liaison with users HighÂ  Availability or Disaster Recovery Logs - Check your high availability and/or disaster recovery process logs. Depending on the solution (Log Shipping,Â  Clustering, Replication, Database Mirroring, CDP, etc.) that you are usingÂ  dictates what needs to be checked. Correcting errors and make necessaryÂ  modificationÂ  Modify existing databases and database management systems or directÂ  programmers and analysts to make changes.Â  Work as part of a project team to coordinate database development and seeÂ  termite project scope and limitationsÂ  Train Users and answers questions.Â  Approve, schedule, plan, and supervise the installation and testing of newÂ  products and improvements to computer systems, such as the installation of new databases.Â  Review Procedures in Database management system manuals for makingÂ  changes to database.Â  Select and enter codes to monitor database performance and to createÂ  production database.Â  Check the backup failure alerts, correct the errors and rerun the backups.Â  Review the average duration of backup, any significant changes occurredÂ  investigates on this.Â  Most of the time it happens due to networking low bandwidth Validate the backup files using restore verify only.Â  I create jobs to take care of the task and to send a notification if it fails to verifyÂ  any backup.Â  Monitoring all backup and log history is cleaning when designed. Find out the newly added databases and define the backup plan. I do verify the free space onÂ  each drive on all servers, If there is significant variance in free space from the day before, research the cause of the free space fluctuation and resolve ifÂ  necessary, Often times, log files will grow because of monthly jobs automate through a job. The job runs for every one hour and reports any drive which isÂ  having less than 15 % of free space.Â  I can design a SSRS report to showcase and review the delta values.Â  Confirm all servers/databases are up and running fine. Usually in an EnterpriseÂ  Database Environment Third Party Tools are used to monitor Servers. ForÂ  database monitoring, I can design a native SQL Server solution using T-SQLÂ  code and a maintenance plan, it run min by min and send an email to DBAÂ  team if it is not able to connect to any of the database in the instance. I do design a native scripts using T-SQL to monitor Replication, Mirroring, LogÂ  shipping. Database Administrator Incomm Alpharetta - Alpharetta, GA January 2014 to February 2017 * Responsible for administering and maintaining over 150 database servers of Production and Test environment.Â  * Analyzes the current database environment to determine recommended databaseÂ  maintenance, security, and Microsoft SQL Server best practices.Â  * Monitors and troubleshoots production environments using Idera SQLdm.Â  * Creates and maintains documentation for DBA standard operating procedures.Â  * Ensures that all code changes made in the production environment are SOXÂ  compliance before they are deployed.Â  * Analyses and migrates data using ETL into SQL Server databases to supportÂ  customer's implementation.Â  * Works closely with infrastructure team for patching and hardware upgrades, and ensures that both production and test servers are up to date by applying WindowsÂ  and SQL Server patches.Â  * Upgrades servers as required from SQL Server 2005 to SQL Server 2008, 2012., and 2014.Â  * Completes database administration maintenance projects as required * ProvidesÂ  24/7 on call support as needed.Â  * Coordinates and configures new nodes for production server clusters for highÂ  availability.Â  * Periodically restores backup files in test environment to check for corruption.Â  * Reviews security, performance, and disk space and recommend corrective actionsÂ  where needed.Â  * Assists application team in the creation of databases, construction of queries, modification of database tables, and troubleshooting data issues.Â  * Monitors servers for resources utilization (disk space, memory, CPU, etc.)Â  * Creates and Executes a migration/decommission plan for over 500 databases within a 4 month project window. Education Bachelor of Science Lead City University July 2013 Skills Database administration, Database, Ms sql server, Ms sql server 2005, Sql server, Sql server 2005, Sql server 2008, Sql server 2008 r2, Sql server 2012, Sql, Sql queries, Stored procedures, Clustering, Backups, T-sql, Virtualization, R2, Maintenance, Problem solving, Shipping Additional Information SKILLSÂ  Installation and Building Server Running Backups Recovering andÂ  Restoring ModelsÂ  Support various MS SQL Server MS SQL Server 2005/2008Â  environments from SQL Server /2008R2R2/2012/2014Â  2005 thru SQL Server 2008r2 as administration includingÂ  well as with SQL Server 2012 on installation, configuration,Â  Windows Server 2003, 2003r2, upgrades, capacity planning,Â  2008, 2008r2, 2012 and 2014. performance tuning, backup andÂ  recovery.Â  Familiar with virtualization and Work with developers to Identify,Â  managing SQL databases in a debug, and tune problem storedÂ  virtual environment. procedures, T-SQL Queries, etc.Â  Management of users including Knowledge of High Availability ofÂ  creation/alteration, grant of database servers using DatabaseÂ  system/DB roles and permissions mirroring, replications, LogÂ  on various database objects. Shipping and Always OnÂ  Availability Group.Â  Design and implement SQL Server 201, databases for mission-criticalÂ  2005, SQL Server 2008 R2, business.Â  Experience in creating tables, Environment transition planningÂ  views, indexes, stored procedures (development, test, stage,Â  and more. production).Â  Import and export data to and from Perform routine backup andÂ  the database servers. recovery testing and documentingÂ  recovery scenarios.Â  Database administration including Use SQL Profiler forÂ  installation, configuration, troubleshooting, monitoring, andÂ  upgrades, capacity planning, optimization of SQL Server andÂ  performance tuning, backup and SQL code.Â  recovery, index maintenance.Â  Modify stored procedures, queries, Manage the production andÂ  views, indexes, and functions to development databases includingÂ  handle business rules, history data performance tuning, capacityÂ  and audit analysis. planning, SQL Server clustering,Â  database security configuration,Â  and database continuity.Â  Excellent analytical, Strong decision making andÂ  communication skills, work ethics problem solving skills.Â  and ability to work in a teamÂ  environment with strongÂ  determination and commitment toÂ  the deliverables.Â  Highly motivated self-starter withÂ  the ability to work independently.
AFTER: database administrator database administrator database administrator   family private care llc lawrenceville ga a self motivated production sql server database administrator who possesses strong analytical and problem solving skills my experience includes sql server 2005 2008 and 2012 2014 ssis as well as clustering mirroring and high availability solutions in oltp environments i am proficient in database backup recovery performance tuning maintenance tasks security and consolidation i am confident that i would make a beneficial addition to any company over the course of my career thus far i have designed databases to fit a variety of needs successfully ensured the security of those databases problem solved in order to meet both back end and front end needs installed and tested new versions database management systems customized and installed applications and meticulously monitored performance for the smoothest front end experience possible during my 5 to 6 years working with databases work experience database administrator family private care llc   roswell ga april 2017 to present confirm that backups have been made and successfully saved to a secure location planning for backup and recovery of database information maintaining archived data backing up and restoring databases contacting database vendor for technical support generating various reports by querying from database as per needed managing and monitoring data replication acting as liaison with users high availability or disaster recovery logs   check your high availability and or disaster recovery process logs depending on the solution log shipping clustering replication database mirroring cdp etc that you are using dictates what needs to be checked correcting errors and make necessary modification modify existing databases and database management systems or direct programmers and analysts to make changes work as part of a project team to coordinate database development and see termite project scope and limitations train users and answers questions approve schedule plan and supervise the installation and testing of new products and improvements to computer systems such as the installation of new databases review procedures in database management system manuals for making changes to database select and enter codes to monitor database performance and to create production database check the backup failure alerts correct the errors and rerun the backups review the average duration of backup any significant changes occurred investigates on this most of the time it happens due to networking low bandwidth validate the backup files using restore verify only i create jobs to take care of the task and to send a notification if it fails to verify any backup monitoring all backup and log history is cleaning when designed find out the newly added databases and define the backup plan i do verify the free space on each drive on all servers if there is significant variance in free space from the day before research the cause of the free space fluctuation and resolve if necessary often times log files will grow because of monthly jobs automate through a job the job runs for every one hour and reports any drive which is having less than 15 % of free space i can design a ssrs report to showcase and review the delta values confirm all servers databases are up and running fine usually in an enterprise database environment third party tools are used to monitor servers for database monitoring i can design a native sql server solution using t sql code and a maintenance plan it run min by min and send an email to dba team if it is not able to connect to any of the database in the instance i do design a native scripts using t sql to monitor replication mirroring log shipping database administrator incomm alpharetta   alpharetta ga january 2014 to february 2017 * responsible for administering and maintaining over 150 database servers of production and test environment * analyzes the current database environment to determine recommended database maintenance security and microsoft sql server best practices * monitors and troubleshoots production environments using idera sqldm * creates and maintains documentation for dba standard operating procedures * ensures that all code changes made in the production environment are sox compliance before they are deployed * analyses and migrates data using etl into sql server databases to support customers implementation * works closely with infrastructure team for patching and hardware upgrades and ensures that both production and test servers are up to date by applying windows and sql server patches * upgrades servers as required from sql server 2005 to sql server 2008 2012 and 2014 * completes database administration maintenance projects as required * provides 24 7 on call support as needed * coordinates and configures new nodes for production server clusters for high availability * periodically restores backup files in test environment to check for corruption * reviews security performance and disk space and recommend corrective actions where needed * assists application team in the creation of databases construction of queries modification of database tables and troubleshooting data issues * monitors servers for resources utilization disk space memory cpu etc * creates and executes a migration decommission plan for over 500 databases within a 4 month project window education bachelor of science lead city university july 2013 skills database administration database ms sql server ms sql server 2005 sql server sql server 2005 sql server 2008 sql server 2008 r2 sql server 2012 sql sql queries stored procedures clustering backups t sql virtualization r2 maintenance problem solving shipping additional information skills installation and building server running backups recovering and restoring models support various ms sql server ms sql server 2005 2008 environments from sql server  2008r2r2 2012 2014 2005 thru sql server 2008r2 as administration including well as with sql server 2012 on installation configuration windows server 2003 2003r2 upgrades capacity planning 2008 2008r2 2012 and 2014 performance tuning backup and recovery familiar with virtualization and work with developers to identify managing sql databases in a debug and tune problem stored virtual environment procedures t sql queries etc management of users including knowledge of high availability of creation alteration grant of database servers using database system db roles and permissions mirroring replications log on various database objects shipping and always on availability group design and implement sql server 201 databases for mission critical 2005 sql server 2008 r2 business experience in creating tables environment transition planning views indexes stored procedures development test stage and more production import and export data to and from perform routine backup and the database servers recovery testing and documenting recovery scenarios database administration including use sql profiler for installation configuration troubleshooting monitoring and upgrades capacity planning optimization of sql server and performance tuning backup and sql code recovery index maintenance modify stored procedures queries manage the production and views indexes and functions to development databases including handle business rules history data performance tuning capacity and audit analysis planning sql server clustering database security configuration and database continuity excellent analytical strong decision making and communication skills work ethics problem solving skills and ability to work in a team environment with strong determination and commitment to the deliverables highly motivated self starter with the ability to work independently

#stopword
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

words = [word for word in words if word not in set(stopwords.words('english'))]

In [36]:
#df_resumes[['text', 'skills_required']].to_json('resumes_dataset.json', orient='records')

df_resumes_preprocessed[['text', 'skills_required']].to_csv('resumes_dataset.csv')

In [37]:
df_resumes[['text', 'skills_required']].to_csv('resumes_raw_dataset.csv')